# Set default behavior to automatically normalize line endings
* text=auto

# Explicitly declare text files to be normalized to LF on check-in
*.py text eol=lf
*.txt text eol=lf
*.json text eol=lf
*.md text eol=lf
.env text eol=lf